/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#heading {
  outline: none;
}

#text {
  outline: none;
}

#text-editor-save {
  position: fixed;
  bottom: 1px;
  right: 10px;
}

#text-editor-hash-btn {
  position: fixed;
  background-color: purple;
  bottom: 1px;
  right: 100px;
  border-color: purple;
}

#close-text-editor-btn {
  position: fixed;
  top: 10px;
  right: 20px;
}
