/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#heading {
  outline: none;
}

#text {
  outline: none;
}

#text-editor-hash-btn {
  background-color: purple;
  border-color: purple;
}

#close-text-editor-btn {
  position: fixed;
  top: 10px;
  right: 20px;
}

.btn-space {
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 4px;
  right: 8px;
}

.dropdown-toggle {
  background-color: white;
}
